# Gitignore a .netrwhist file because I don't know what it's for
.netrwhist

# Gitignore everything in the bundle directory
bundle/*
# Except for Vundle
!bundle/Vundle.vim

# Ignore old vimrc backups
vimrc.bak
